{% load static %}
<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Roam Africa - авторські тури в Африку</title>
    <link rel="icon" type="image/x-icon" href="{% static 'images/favicon.png' %}">

    <!-- js libraries -->
    <script src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js" defer></script>
    <script src="https://unpkg.com/htmx.org/dist/htmx.js" defer></script>

    <!-- css -->
    <link rel="stylesheet" href="{% static 'css/output.css' %}">
    <link rel="stylesheet" href="https://unpkg.com/lenis@1.3.26/dist/lenis.css">

    <!-- fonts -->
     <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Unbounded:wght@200..900&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/5a808635cf.js" crossorigin="anonymous"></script>
</head>
<body class="bg-base-100 text-base-content font-body min-h-screen">
	
    {% include 'includes/messages.html' %}

    {% include 'includes/header.html' %}

    {% block layout %}
    {% endblock %}

    {% include 'includes/footer.html' %}

</body>
</html>